/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 juin 2018, 10:57:50
    Author     : MICHAUDT_INFO
*/

#myloginform
{
    background-color: rgba(255,255,255, 0.8);
    margin-top: 100px; 
    padding: 25px 0px 25px 0px;
}

.btn-outline-primary
{
    border-color: #fcab10;
    color: #fcab10;
}

.btn-outline-primary:hover
{
    background-color: #fcab10;
    border-color: #fcab10;
    color: white;
}

.btn-primary:active
{
    background-color: #fcab10;
    border-color: #fcab10;
    color: white;
}

.btn-primary:hover
{
    background-color: orangered;
    border-color: orangered;
    color: white;
}

.btn-primary
{
    background-color: #fcab15;
    border-color: #fcab15;
    color: white;
}